@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

 p {  padding: 5px;}

body {
    background-image: url('./photos/bluebackground.png');
    background-position: center;
    background-color: rgb(27, 17, 61);   }

main {
  
    background-color: #86b8af;
    width: 900px;
    margin: 0 auto;
    font-family:  'Cormorant Garamond', Georgia, Times, 'Times New Roman', serif 'Calibri', 'Trebuchet MS', sans-serif; 
 }

 header, footer {
    background-color: #030321;
    color:aliceblue;
    
 }
 header {
  height: 80px;
}


 footer {
    font-size: 15px;
    text-align: center;
    padding: 10px;
 }

 h1 { 
   font-size: 45px; text-align: center; padding: 5px; font-family: 'Courgette', cursive;
 }

 .poem { text-align: center;}

/*NAV--------------------------- */

li { list-style: none; }

button { 
    padding: 5px; 
    background-color: #030321; 
    border: none; }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cormorant Garamond' Georgia, 'Times New Roman', Times, serif;
}

.nav-item a {
    margin-left: 15px;  color: aliceblue; padding: 5px;  text-decoration: none;  

}

.nav-item a:hover{
    color:#030321;
    background-color: aliceblue;

}

.active { text-decoration: underline;}

.logo {
    font-size: 30px;
    color: aliceblue;
    font-family: 'Dancing Script', sans-serif;
    text-decoration: none; 
    margin-left: 40px; 
}

.logo:hover { color: rgb(0, 255, 128);}
 /* MENU ------*/
 .hamburger {
   display: none;
}

.bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   background-color: aliceblue;

}

/*IMAGES------------------------ */
.break {font-size:45px; text-align: center;}

.portrait {
    max-height: 420px; max-width: 280px;
}

.bunny { max-height: 200px; width: auto; position: relative; bottom: 50%;
  }

.bunnyhover { max-height: 200px; width: auto; position: relative; top: 80%; left:45%;  }
      
.middle { text-align: center;}
   .image {
   position: relative;
   }

  .top-left2 {
      position: relative;
      color:rgb(6, 41, 41);
      top: 45%;
      font-size: 40px; }

.float-left { 
   float:left;
   margin-right:20px;
}

.clear { 
   clear:both;
}

.heroimage {
   background-image: url("photos/heroimage-alice.png");
   background-position: center;
   background-repeat: no-repeat; 
   background-size: cover; 
   text-align: center;
   color: rgb(0, 0, 0);
   display: flex;
   height: 300px;
   width:1000px;
}

/*CONTAINER INFO------------------------ */
.reviewer {
    color:blue;
    font-size: 20px;
}

.reviewtitle {
    font-size: 28px;
}
/*OTHER BOOKS---------------- */
.row {
   display: flex;
   flex-direction: row;
   margin: 0 auto;
   max-width: 1100px;
   gap: var(--gap);
   justify-content: space;
 }

 .bookcover {height: 300px; 
 }
 #book-image {
   width: 38%; 
 }
 #descriptor {
   width: 55%;
 }

/*CONTAINER BOXES------------------------ */
 .container, .headcontainer, .row {
    max-width: 800px; height: auto;
    background-color: aliceblue;
    color:black;
    font-size: 20px;
    margin: 15px auto;
    padding:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .headcontainer {
    font-size: 48px; 
    text-align: center;
 }


 /*RESPONSIVE 900----------------- */
@media screen and (max-width: 900px) { 
   .float-left {float:none; margin-right:0;}
   main  { width: 100%; } 

   .container, .headcontainer {
      max-width: 700px; height: auto; }
   }
 
   .heroimage {
      max-width:100%; 
   }

/*RESPONSIVE 760----------------- */
@media screen and (max-width: 760px) { 
   .float-left {float:none; margin-right:0;}
   main  { width: 100%; } 

   .container, .headcontainer {
      max-width: 600px; height: auto; }
   }
 


   .heroimage {
      max-width:100%; 
   }



/*RESPONSIVE NAV----------------- */

@media only screen and (max-width: 768px) {
   .nav-menu {
       position: absolute;
       left: 100%;
       top: 80px;
       flex-direction: column;
       background-color: #030321;
       width: 100%;
       text-align: center;


   }

   .nav-menu.active {
       left: 0;
   }

   .nav-item {
       margin: 10px 0;
   }

   .hamburger {
       display: block;
       cursor: pointer; 
   }

   .hamburger.active .bar:nth-child(2) {
       opacity: 0;
   }

   .hamburger.active .bar:nth-child(1) {
       -webkit-transform: translateY(8px) rotate(45deg);
       transform: translateY(8px) rotate(45deg);
   }

   .hamburger.active .bar:nth-child(3) {
       -webkit-transform: translateY(-8px) rotate(-45deg);
       transform: translateY(-8px) rotate(-45deg);
   }
}


 /* RESPONSE FOR BOOKS----------- */
 @media (max-width: 720px) {
   .row {
       flex-direction: column;
       display: block;
       width: fit-content;
   }

   #book-image {
       width: fit-content;
   }

   #descriptor {
       width: fit-content;
       padding: 10px;
   }
}

/* RESPONSE FOR INDEX */
@media screen and (max-width: 500px) {
 
   .top-left2 {

      top: 30%;
   }
   }

   .bookcover {text-align: center; 
   }