body {
    color:rgb(0, 0, 0);
    background-image: url('./photos/charade-movie-screencaps.com-149.jpg');
    background-color:black;
    
    background-size: cover;
}

main {
    padding: 10px; 
    width: 1000px;
    margin: 0 auto; 
}

h1 {padding-top: 15px;
    padding-bottom:15px;}

#carouselExample {padding: 10px; width: 800px; height:auto; margin: 0 auto;}

#primary {
    background-color: black; }


.container {background-color: rgb(205, 224, 236);
padding:15px;
margin:10px;}