body {
    background-color: #D0F1FF; } 

main {
    background-color: #9DDBF6;
    width: 1000px;
    margin: 0 auto; 
    font-family:'Loto', 'Calibri', 'Trebuchet MS', sans-serif; 
 }

 #bar {
    transition: margin-left .5s;
    padding: 10px; }

footer {
    background-color: #359A33;
    width: auto;
    height: 15px;
    padding: 10px;
    text-align: center;
    color: white; }
 
/*----------------------------------- */
/* HEADER */
.green-header {
    background-color: #359A33;
    color: white;
    text-align: center;
    padding: 0.5px;
    margin: auto; }
/*----------------------------------- */

/* BOX */
.box {
    max-width:1000px; 
    height:auto; }

/* DIV INSTRUCTION BOX */
.card {
    background-color: #9DDBF6;
    display: grid;
}
.steps {
    background-color: #DDF9FF;
    margin: 15px;
    padding: 10px;
    padding-bottom:20px;
    padding-top:1px;
    border-radius: 10px; }
/*----------------------------------- */
/* IMAGE */
.materialsimage {
    max-width: 200px; 
    height:auto;
    margin: 15px;

}


/*----------------------------------- */
a {
    color:white;
    text-decoration: none; }

.bodylink {
    color:#EC0B43 }

/*----------------------------------- */
/* "BUTTONS" */
#next {
    color:white; 
    background-color: #EC0B43; 
    border-radius: 5px;
    padding:10px;
  }
a:hover#next {
    background-color:#6f0a23}

#back {
    color:white; 
    background-color: #9747FF; 
    border-radius: 5px;
    padding:10px; 

}
a:hover#back {
    background-color: #361460 }

/*----------------------------------- */
/* NAV BAR */
nav {
    background-color: #359A33; 
    padding-bottom: 5px;
    font-size: 20px;
    height: 40px;
    margin: auto; }

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; }

nav li {
    margin: 0 45px; }

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 10px; }

nav a:hover {
    color: black;
    background-color: #F6AA1C; }

/*----------------------------------- */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family:'Loto', 'Calibri', 'Trebuchet MS', sans-serif; 

  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 12px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px;
    border: none;
   
  }
  
  .openbtn:hover {
    background-color: #EC0B43;
  }


/* RESPONSIVE 900 */
  @media screen and (max-width: 900px) {
    main  { width: 100%; } 
    nav  { width: 100%;} 
    nav li { margin: 0 30px; }
    .materialsimage { max-width: 150px; }
    }

/* RESPONSIVE 700 */
  @media screen and (max-width: 700px) {
        nav li { margin: 0 10px; }
        img { width:100%; height: auto; }
        .materialsimage { max-width: 100px; }
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
        }
